@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.content-container{
    width: 75%;
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
    padding: 0;
}

.content-title{
    font-family: "Holtwood One SC";
    font-size: 40px;
    color: #144273;
    font-weight: 900;
}

.content-sub-title{
    font-family: "Holtwood One SC";
    color: #fff;
    margin-top: -5px;
    font-size: 40px;
    font-weight: 900;
}

.content-paragraph{
    font-family: 'Istok Web';
    margin-top: -.5px;
    color: white;
    text-align: justify;
}